<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GeoTimeZone" version="4.1.0" />
  <package id="NodaTime" version="3.0.5" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" />
  <package id="TimeZoneConverter" version="3.5.0" />
  <package id="TimeZoneConverter.Posix" version="2.3.0" />
</packages>